body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0D1117;
    margin: 0;
}

#input {
    background: none;
    font-size: 2em;
    color: rgb(255, 255, 255);
    padding: 0.4em 0.6em;
    outline: none;
    border: rgba(0, 0, 0, 0) solid 1px;
}

#input:focus {
    border-bottom: #1F6FEB solid 1px;
}

#output {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    padding: 0.4em 0.6em;
    color: #fff;
}

#avatar {
    color: #fff;
    width: 15vw;
    height: 15vw;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    padding: 10px;
}

#part-1 {
    margin-bottom: 1em;
}

#name {
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin: 0;
}

#bio {
    font-size: 1.2em;
    color: rgb(228, 228, 228);
    margin: 0;
}

#part-2 {
    margin-bottom: 1em;
}

#blog {
    width: max-content;
    display: block;
    color: #fff;
}

#twitter {
    margin-bottom: 0.5em;
    color: #fff;
    text-decoration: none;
}

#blog:hover {
    color: #c5c5c5;
    text-decoration: underline;
    cursor: pointer;
}

#part-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    border: 1px solid #FFFFFF33;
    padding: 0.4em 0.6em;
    border-radius: 0.3em;
}

#part-4 > div {
    margin: .2em;
}

#ff-tool-tip {
    font-size: .8em;
    position: relative;
}

#ff-tool-tip:after {
    content: attr(data-text);
    visibility: hidden;
    opacity: 0;
    width: 240px;
    background-color: rgb(53, 53, 53);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    transition: opacity .5s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

#ff-tool-tip:hover:after {
    opacity: 1;
    visibility: visible;
}

#part-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #FFFFFF33;
    padding: 0.4em 0.6em;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

#part-3 > div {
    margin: .2em;
}

#following, #followers, #ff {
    color: red;
    display: inline;
}

#output > .num {
    color: rgb(255, 255, 255);
}
